<div fxLayout="column">
  <div class="full-width header" fxLayoutAlign="center center">
    <span>Select a customer to continue</span>
  </div>
  <div fxLayout="column" fxLayoutGap="15px" class="tool-body">
    <input
      type="text"
      placeholder="Search"
      [ngModel]="searchString"
      (ngModelChange)="getCustomer($event)"
    />
    <div class="customer-display">
      <div class="scroller" fxLayoutGap="10px" fxLayout="column">
        <div
          class="customer-card cursor-pointer"
          id="{{ customer.id }}"
          *ngFor="let customer of customerList"
          fxLayout="column"
          (click)="selectCustomer(customer)"
        >
          <span class="name"
            >{{ customer.firstname }} {{ customer.lastname }}</span
          >
          <span class="details">Phone: {{ customer.phoneNumber }}</span>
          <span class="details">Email: {{ customer.email }}</span>
        </div>
      </div>
      <div
        class="full-width full-height"
        fxLayoutAlign="center center"
        *ngIf="customerList.length == 0"
      >
        <span style="color: #707070">No search result to show</span>
      </div>
    </div>
    <div
      class="full-width"
      fxLayoutAlign="end end"
      fxLayout="row"
      fxLayoutGap="15px"
    >
      <button mat-stroked-button (click)="close()">Cancel</button>
      <button mat-raised-button color="accent">Create new</button>
    </div>
  </div>
</div>
