<form [formGroup]="editBooking" (ngSubmit)="onSubmit()">
  <div fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center">
      <mat-form-field color="accent">
        <mat-label>From</mat-label>
        <input
          matInput
          formControlName="book_From"
          [matDatepicker]="picker1"
          required
        />
        <mat-datepicker-toggle
          matPrefix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error>{{ error$.book_From | async }}</mat-error>
      </mat-form-field>
      <mat-form-field color="accent">
        <mat-label>To</mat-label>
        <input
          matInput
          formControlName="leave_At"
          [matDatepicker]="picker2"
          required
        />
        <mat-datepicker-toggle
          matPrefix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-error>{{ error$.leave_At | async }}</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayoutAlign="start start">
    
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center" class="full-width">
        <mat-form-field color="accent" class="full-width">
          <mat-label>Name</mat-label>
          <input
            matInput
            formControlName="name"
            placeholder="adults"
          />
        </mat-form-field>
        <mat-form-field color="accent" style="max-width: 80px;">
          <mat-label>Age</mat-label>
          <input
            matInput
            formControlName="age"
            type="number"
            min="0"
            placeholder="childrens"
          />
        </mat-form-field>
        <div>
          <button mat-stroked-button color="accent" type="button" (click)="addGuest()">
            <mat-icon style="font-size: 14px;height: 14px;width: 14px;">add</mat-icon><span>Guest</span>
          </button>
        </div>
        </div>
        <div class="guest-list" fxLayout="column" fxLayoutGap="5px">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" *ngFor="let guest of data.booked.booking.guest">
        
          <mat-icon style="height: 14px;width: 14px;font-size: 14px;color: #806e6e;" class="cursor-pointer"
            (click)="removeGuest(guest)">
            clear
          </mat-icon>
          <div fxLayout="row" fxLayoutGap="15px">
            <span class="sub-text">Name: {{guest.name}}</span>
            <span class="sub-text">Age: {{guest.age}}</span>
          </div>
        </div>
        </div>
    </div>
    <mat-form-field class="full-width" color="accent">
      <mat-label>Information</mat-label>
      <textarea matInput cdkTextareaAutosize formControlName="info" #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="4"></textarea>
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>CHF/Night</mat-label>
      <input
        matInput
        formControlName="amount"
        type="number"
        min="0"
        required
        placeholder="chf/night"
      />
      <mat-error>{{ error$.amount | async }}</mat-error>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="15px">
      <button mat-stroked-button type="button" (click)="close()">Cancel</button>
      <button mat-raised-button color="accent">Save</button>
    </div>
  </div>
</form>
