<div fxLayout="column">
    <div fxLayoutAlign="center center" class="form-header">
        <span>Update room</span>
    </div>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="form-content" fxLayout="column">
            <mat-form-field color="accent">
                <mat-label>Room name</mat-label>
                <input matInput formControlName="roomname" placeholder="room name">
                <mat-error>{{error$.roomname | async}}</mat-error>
            </mat-form-field>
            <mat-form-field color="accent">
                <mat-label>Capacity</mat-label>
                <input matInput formControlName="capacity" type="number" placeholder="room capacity">
                <mat-error>{{error$.capacity | async}}</mat-error>
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="15px">
                <button mat-stroked-button type="button" (click)="close()">Cancel</button>
                <button mat-raised-button color="accent">Update</button>
            </div>
        </div>
    </form>
</div>
