/* You can add global styles to this file, and also import other style files */
@import "./color_variables.scss";

// $accent: mat-palette($mat-arc-accent);
html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.primary-background {
  background-color: $primary-default;
}

.primary-color {
  color: $primary-default;
}

.secondary-background {
  // background-color: $secondary-default !important;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.white-button-outline {
  color: white !important;
  border-color: white !important;
}

.spacer {
  flex: 1 1 auto;
}

.cursor-pointer {
  cursor: pointer;
}

.page-container {
  padding: 30px;
}

.centerized {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.date-picker {
  background-color: white;
  box-shadow: 1px 1px 3px 1px #5e5e5e;
  padding: 10px;
  border-radius: 4px;
  overflow: hidden;
  min-height: 300px;
  min-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
