/* You can add global styles to this file, and also import other style files */

// $accent: mat-palette($mat-arc-accent);
html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.white-button-outline {
  color: white !important;
  border-color: white !important;
}

.spacer {
  flex: 1 1 auto;
}

.cursor-pointer {
  cursor: pointer;
}

.page-container {
  padding: 30px;
}

.text-center{
  text-align: center;
}

.centerized {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.date-picker {
  background-color: white;
  box-shadow: 1px 1px 3px 1px #5e5e5e;
  padding: 10px;
  border-radius: 4px;
  overflow: hidden;
  min-height: 300px;
  min-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-outline:focus {
  outline: none;
}

.description-popup {
  background-color: white;
  overflow: hidden;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 1px 1px 3px 1px #8f8f8f;
  min-width: 260px;
}

.modal-body {
  mat-dialog-container {
    padding: 0;
  }
}

.form-header {
  color: white;
  font-size: 18px;
  background-color: #418de4;
  height: 45px;
}

.form-content {
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
