$mat-arc-primary: (
  50: #e9e9e9,
  100: #c9c9c9,
  200: #a5a5a5,
  300: #818181,
  400: #666666,
  500: #4b4b4b,
  600: #444444,
  700: #3b3b3b,
  800: #333333,
  900: #232323,
  A100: #f18080,
  A200: #ec5252,
  A400: #ff0c0c,
  A700: #f10000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$mat-arc-accent: (
  50: #e8f1fc,
  100: #c6ddf7,
  200: #a0c6f2,
  300: #7aafec,
  400: #5e9ee8,
  500: #418de4,
  600: #3b85e1,
  700: #327add,
  800: #2a70d9,
  900: #1c5dd1,
  A100: #ffffff,
  A200: #d4e2ff,
  A400: #a1bfff,
  A700: #87aeff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-arc-warn: (
  50: #f9e0e0,
  100: #f0b3b3,
  200: #e68080,
  300: #db4d4d,
  400: #d42626,
  500: #cc0000,
  600: #c70000,
  700: #c00000,
  800: #b90000,
  900: #ad0000,
  A100: #ffd7d7,
  A200: #ffa4a4,
  A400: #ff7171,
  A700: #ff5858,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
