:host {
  width: 100%;
}

.description-container {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.booking-controls {
  button {
    height: 25px;
    width: 25px;
    mat-icon {
      font-size: 16px;
      height: 24px;
      width: 24px;
      color: #585858;
    }
  }
}

.customer {
  font-size: 18px;
  color: #242424;
}

.booked-date {
  font-size: 10px;
  color: #585858;
  line-height: 12px;
}

.indicator {
  width: 14px;
  height: 14px;
  border-radius: 4px;
  margin-top: 2.5px;
}

.content-fonts {
  font-size: 12px;
  color: #242424;
  mat-icon {
    font-size: 14px;
    height: 16px;
    width: 16px;
    color: #707070;
  }
}

.border-line {
  border-top: 1px solid #707070;
}

.dashed {
  border: 1px dashed #707070;
}

::ng-deep .mat-radio-button {
  label {
    display: flex !important;
    flex-direction: column !important;
    .mat-radio-label-content {
      padding-left: 0;
    }
  }
}

.edit-button {
  height: 20px;
  width: 20px;
  mat-icon {
    font-size: 16px;
    height: 18px;
    width: 18px;
    color: #585858;
    margin-bottom: 8px;
  }
}
