<div fxLayout="column">
  <div
    fxLayout="row"
    fxLayoutGap="5px"
    fxLayoutAlign="end end"
    class="full-width booking-controls"
  >
    <button
      fxLayoutAlign="center center"
      mat-icon-button
      (click)="deleteBooking()"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div fxLayout="column" class="description-container" fxLayoutGap="10px">
    <div
      class="full-width"
      fxLayout="row"
      fxLayoutAlign="start start"
      fxLayoutGap="5px"
      *ngIf="customer"
    >
      <div [ngStyle]="{ background: typeColor }" class="indicator"></div>
      <div fxLayout="column" fxLayoutAlign="start start">
        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
          <span class="customer"
            >{{ customer.firstname }} {{ customer.lastname }}</span
          >
          <button
            fxLayoutAlign="center center"
            mat-icon-button
            (click)="editCustomer()"
            class="edit-button"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <span class="booked-date">Booked {{ bookedDate }}</span>
        <span class="booked-date">Email: {{ customer.email }}</span>
        <span class="booked-date"> Phone: {{ customer.phoneNumber }}</span>
      </div>
    </div>
    <div class="border-line"></div>
    <div
      class="content-fonts"
      *ngIf="bookingDate"
      fxLayout="row"
      fxLayoutGap="5px"
      fxLayoutAlign="space-between center"
    >
      <div fxLayout="row" fxLayoutGap="5px">
        <mat-icon>calendar_today</mat-icon>
        <span>{{ bookingDate.from }} - {{ bookingDate.to }}</span>
      </div>
      <button
        fxLayoutAlign="center center"
        mat-icon-button
        (click)="editBooking()"
        class="edit-button"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div
      *ngIf="nights"
      class="content-fonts"
      fxLayout="row"
      fxLayoutGap="5px"
      fxLayoutAlign="start center"
    >
      <mat-icon>access_time</mat-icon>
      <span>{{ nights }} {{ nights == 1 ? "Night" : "Nights" }}</span>
    </div>
    <div
      *ngIf="data"
      class="content-fonts"
      fxLayout="row"
      fxLayoutGap="5px"
      fxLayoutAlign="start center"
    >
      <mat-icon>local_offer</mat-icon><span>{{ amount }} CHF</span>
    </div>
    <div class="dashed"></div>
    <div
      *ngIf="data"
      class="content-fonts"
      fxLayout="row"
      fxLayoutGap="5px"
      fxLayoutAlign="start center"
    >
      <mat-icon>credit_card</mat-icon><span>{{ totalCost }} CHF</span>
    </div>
    <div style="padding-top: 20px">
      <mat-radio-group
        [(ngModel)]="currentState"
        fxLayout="row wrap"
        fxLayoutAlign="space-between center"
      >
        <mat-radio-button
          *ngFor="let state of stateList"
          [value]="state"
          (click)="updateState(state)"
          class="content-fonts"
        >
          {{ state.statename }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div>
