.form-errors {
  color: #cc0000;
  font-size: 12px;
  font-style: italic;
}

.guest-name {
  font-size: 12px;
  color: #418de4;
}

.name {
  font-size: 16px;
  color: #242424;
}

.name {
  font-size: 12px;
  color: #3b3b3b;
}

.details {
  font-size: 10px;
  color: #858585;
  line-height: 11px;
  margin: 0;
}

.name-tag {
  line-height: 14px;
  margin: 0;
}

.modal-content {
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.modal-header {
  color: white;
  font-size: 18px;
  background-color: #418de4;
  height: 45px;
}
