<mat-toolbar #matToolbar fxLayout="row">
  <mat-toolbar-row>
    <div class="remove-outline cursor-pointer" (click)="goToPath('dashboard')">
      <span>{{ appName }}</span>
    </div>
    <div
      class="calendar-control"
      fxLayoutGap="15px"
      fxLayoutGap.xs="5px"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <button mat-raised-button (click)="todayCalendar()">Today</button>
      <div fxLayoutAlign="center center">
        <button mat-icon-button (click)="previous()">
          <mat-icon>chevron_left</mat-icon>
        </button>
        <button mat-icon-button (click)="nextWeek()">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
      <div>
        <button #dateButton mat-button (click)="openDatePicker(dateButton)">
          {{ currentDateValue }}
        </button>
      </div>
    </div>
    <div class="spacer"></div>
    <div
      class="full-height"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="5px"
    >
        <button mat-icon-button fxLayout="row" fxLayoutAlign="center center" (click)="addRoom()">
          <mat-icon>playlist_add</mat-icon>
        </button>
        <div class="item-border"></div>
        <button mat-icon-button fxLayout="row" fxLayoutAlign="center center" (click)="goToPath('settings')">
          <mat-icon>settings</mat-icon>
        </button>
        <div class="item-border"></div>
        <div class="nav-items">
          <button mat-icon-button (click)="signoutUser()">
            <mat-icon svgIcon="signout" class="color-icon"></mat-icon>
          </button>
        </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
