<div fxLayout="column">
  <div fxLayoutAlign="center center" class="form-header">
    <span>Add new customer</span>
  </div>
  <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
    <div fxLayout="column" fxLayoutGap="10px" class="form-content">
      <div
        fxLayout="row"
        fxLayoutGap="15px"
        fxLayoutAlign="space-between center"
      >
        <mat-form-field color="accent">
          <mat-label>First name</mat-label>
          <input
            matInput
            formControlName="name_1"
            placeholder="first name"
          />
          <mat-error>{{ errorObservers$.name_1 | async }}</mat-error>
        </mat-form-field>
        <mat-form-field color="accent">
          <mat-label>Last name</mat-label>
          <input matInput formControlName="name_2" placeholder="last name" />
          <mat-error>{{ errorObservers$.name_2 | async }}</mat-error>
        </mat-form-field>
      </div>

      <mat-form-field color="accent">
        <mat-label>Email</mat-label>
        <input matInput formControlName="mail" placeholder="email" />
        <mat-error>{{ errorObservers$.mail | async }}</mat-error>
      </mat-form-field>
      <mat-form-field color="accent">
        <mat-label>Phone</mat-label>
        <input
          matInput
          formControlName="phone_mobile"
          placeholder="phone number"
        />
        <mat-error>{{ errorObservers$.phone_mobile | async }}</mat-error>
      </mat-form-field>
      <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="end end">
        <button mat-stroked-button type="button" (click)="close()">
          Cancel
        </button>
        <button mat-raised-button color="accent">Create</button>
      </div>
    </div>
  </form>
</div>
