.modal-content {
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.modal-header {
  color: white;
  font-size: 18px;
  background-color: #418de4;
  height: 45px;
}
