<form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div fxLayout="column" fxLayoutGap="10px">
        <mat-form-field color="accent">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" type="text" placeholder="usename">
            <mat-error>{{error$.username | async}}</mat-error>
        </mat-form-field>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="0px">
        <mat-form-field color="accent">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" placeholder="password">
            <mat-error>{{error$.password | async}}</mat-error>
        </mat-form-field>
        <mat-form-field color="accent">
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="confirmPassword" type="password" placeholder="confirm password">
            <mat-error>{{error$.confirmPassword | async}}</mat-error>
        </mat-form-field>
        </div>
        <button mat-stroked-button color="accent">Reset</button>
    </div>
</form>