<div class="calendar-body" fxLayout="column" fxLayoutGap="10px">
  <div
    fxLayout="row wrap"
    fxLayoutGap="20px"
    *ngIf="bookingStates"
    style="padding-left: 5.5rem"
  >
    <div
      *ngFor="let state of bookingStates"
      fxLayout="row"
      fxLayoutGap="5px"
      fxLayoutAlign="center center"
    >
      <div
        class="state-indicator"
        [ngStyle]="{ 'background-color': getStateColor(state) }"
      ></div>
      <span>{{ state.statename }}</span>
    </div>
    <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
      <div
        *ngIf="bookingStates"
        class="state-indicator"
        [ngStyle]="{ 'background-color': stateColors[0] }"
      ></div>
      <span>Others</span>
    </div>
  </div>
  <div class="calendar-container" fxLayout="column">
    <div fxLayout="row">
      <div
        class="calendar-header-cell"
        *ngFor="let name of weekDayName; let i = index"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <span
          class="week"
          [ngClass]="{
            selected: substituteDate[i] && isCurrentDate(substituteDate[i].Day)
          }"
        >
          {{ name }}</span
        >
        <span
          class="date"
          [ngClass]="{ 'selected-date': isCurrentDate(substituteDate[i].Day) }"
          *ngIf="substituteDate[i]"
          >{{ substituteDate[i].Day }}</span
        >
      </div>
    </div>
    <div>
      <app-rooms [substituteDate]="substituteDate"></app-rooms>
    </div>
  </div>
</div>
