<div class="calendar-body">
  <div class="calendar-row"></div>
  <div class="calendar-container" fxLayout="row">
    <div
      class="calendar-header-cell"
      *ngFor="let name of weekDayName; let i = index"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <span
        class="week"
        [ngClass]="{
          selected: substituteDate[i] && isCurrentDate(substituteDate[i].Day)
        }"
      >
        {{ name }}</span
      >
      <span
        class="date"
        [ngClass]="{ 'selected-date': isCurrentDate(substituteDate[i].Day) }"
        *ngIf="substituteDate[i]"
        >{{ substituteDate[i].Day }}</span
      >
    </div>
  </div>
</div>
