.room-decorator {
  position: relative;
  .room-label {
    position: absolute;
    left: -5.5rem;
    top: 30%;
  }
}

.rooms {
  width: 100%;
  border-top: 1px solid #dddddd;
  min-height: 35px;
  display: table;
}

.room-cell {
  display: table-column;
  width: 100%;

  &:not(:last-of-type) {
    border-right: 1px solid #dddddd;
  }
}

.disabled-cell {
  background-color: #ebebeb;
}

.cell:hover {
  background-color: #e0f5ff;
}
