.room-decorator {
  position: relative;
  .room-label {
    position: absolute;
    left: -5.5rem;
    top: 25%;
    .name {
      font-size: 12px;
      color: #242424;
      line-height: 13px;
    }
    .details {
      font-size: 8px;
      color: #838383;
      line-height: 9px;
    }
  }
}

.rooms {
  width: 100%;
  border-top: 1px solid #dddddd;
  min-height: 35px;
  display: table;
}

.room-cell {
  display: table-column;
  width: 100%;

  &:not(:last-of-type) {
    border-right: 1px solid #dddddd;
  }
}

.disabled-cell {
  background-color: #ebebeb;
}

.cell:hover {
  background-color: #e0f5ff;
}
