<div class="rooms room-decorator" fxLayout="row" *ngIf="hotelRoom">
  <div class="room-label cursor-pointer" [matMenuTriggerFor]="menu" fxLayout="column">
    <span class="name" [matTooltip]="hotelRoom.roomname"
      matTooltipPosition="below">{{ hotelRoom.roomname | truncate:12:'...' }}</span>
    <span class="details">Capacity: {{ hotelRoom.capacity }}</span>
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="editRoom()">Edit</button>
    <button mat-menu-item (click)="deleteRoom()">Delete</button>
  </mat-menu>

  <div style="display: flex; width: 100%">
    <div
      class="room-cell"
      *ngFor="let date of calendarDates; let i = index"
      [ngClass]="date != null ? 'cell' : 'disabled-cell'"
      [ngStyle]="{ cursor: date ? 'pointer' : '' }"
      id="{{
        date ? hotelRoom.id.toString() + '-' + date.Day.toString() : 'null'
      }}"
      (click)="date?bookRoom(date):null"
    ></div>
  </div>
  <app-custom-timeline [timelines]="timelines" [room]="hotelRoom"></app-custom-timeline>
</div>
